**Ans (1)** 

**A LIST is like a container which can hold different data types. 
It is a complex data type which is derived from LIST of different objects.
List objects are always stored in sequence order starting from 0,1,2,3...so on.
Every object will have some particular method.**

In [263]:
lst = ['apples', 11, 8123, 125.45, [7,8,9]]
lst

['apples', 11, 8123, 125.45, [7, 8, 9]]

**a) Accessing values in lists**

In [300]:
lst[2]

8123

In [265]:
lst[4][2]

9

**b) Append Function - Suppose we want to add some more objects/values to our LIST then append function is used. It always adds the value in the end.**

In [266]:
lst.append("coconut")
lst

['apples', 11, 8123, 125.45, [7, 8, 9], 'coconut']

**c) Index Function - This function returns the value for specified position of an element in a sequence. It searches for given element from start of the list and returns the lowest index where the element appears.**

In [267]:
lst

['apples', 11, 8123, 125.45, [7, 8, 9], 'coconut']

In [274]:
lst.index(125.45)

3

In [301]:
lst[-1]

'coconut'

In [302]:
lst[-5]

11

In [246]:
lst[1]

11

In [247]:
lst[-1][2]

'c'

**d) Updating Lists**

In [303]:
lst

['apples', 11, 8123, 125.45, [7, 8, 9], 'coconut']

In [305]:
lst[2] = "oranges"        This will add a new element in list
lst

['apples', 11, 'oranges', 125.45, [7, 8, 9], 'coconut']

**e) Delete list elements**

In [313]:
lst = ['apples', 11, 'oranges', 125.45, [7, 8, 9], 'coconut']
lst.remove(11)
lst

['apples', 'oranges', 125.45, [7, 8, 9], 'coconut']

In [314]:
lst = ['apples', 11, 'oranges', 125.45, [7, 8, 9], 'coconut']
del lst[3]
lst

['apples', 11, 'oranges', [7, 8, 9], 'coconut']

**Ans(2)**

**DICTIONARY- It is a key value pair data structure. It is an object of Dictionary class in Python. It is expressed as (key:value). While the values can be of any data type and can repeat, keys must be of immutable type(string, number or Tuple) with immutable elements and must be unique.
Syntax for retrieving value from a dictionary - dict.get('name')**

In [328]:
dict= {"name":"Joyeeta", "telephone":"22816045", "grade":"A+", "rank":"1", "dept":"MSME"}
dict

{'dept': 'MSME',
 'grade': 'A+',
 'name': 'Joyeeta',
 'rank': '1',
 'telephone': '22816045'}

**a) Accessing values in Dictionary**

In [330]:
dict['name']

'Joyeeta'

**b) Updating Dictionary - This function will add a new element in dictionary**

In [331]:
dict["City"]= "Delhi"
dict

{'City': 'Delhi',
 'dept': 'MSME',
 'grade': 'A+',
 'name': 'Joyeeta',
 'rank': '1',
 'telephone': '22816045'}

**c) Delete dictionary elements**

In [387]:
dict = {"name":"Joyeeta", "telephone":"22816045", "grade":"A+", "rank":"1", "dept":"MSME"}
dict

{'dept': 'MSME',
 'grade': 'A+',
 'name': 'Joyeeta',
 'rank': '1',
 'telephone': '22816045'}

In [352]:
dict.pop("telephone")
dict

{'dept': 'MSME', 'grade': 'A+', 'name': 'Joyeeta', 'rank': '1'}

In [250]:
dict.items()

dict_items([('name', 'Joyeeta'), ('Tel.No', '22816045'), ('Grades', 'A+'), ('Rank', '1'), ('Dept', 'MSME')])

**d) Dictionary keys**

In [251]:
dict.keys()

dict_keys(['name', 'Tel.No', 'Grades', 'Rank', 'Dept'])

**e) Dictionary length**

In [388]:
dict = {"name":"Joyeeta", "telephone":"22816045", "grade":"A+", "rank":"1", "dept":"MSME"}
len(dict)

5

**Ans (3)**

**SETS - It is used in storing unique values in Python,
Sets are complex data structures, Sets are a class in Python whose object can be derived in python. It is an unordered collection of data types. It is iterable, mutable and has no duplicate items. Sets are mostly used for findng UNION, disjoin, and finding commons and uncommons in Python data type.**

In [360]:
set = {"joyeeta", "letsupgrade",5,6,8,2,9,11,8,5,2 }
set

{11, 2, 5, 6, 8, 9, 'joyeeta', 'letsupgrade'}

**a) issubset- It will tell you whether elements are present in the given set or not. It gives answer in True/False.**

In [365]:
set1 = {"letsupgrade",11}
set1.issubset(set)

True

In [366]:
set1 = {"joyeeta", 2}
set1.issubset(set)

True

**b) Adding elements in sets**

In [367]:
set1.add("Amit") 
set1

{2, 'Amit', 'joyeeta'}

**c) Difference**

In [368]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8} 
set3 = set1.difference(set2)
set3

{1, 2, 3}

**d) Clearing sets**

In [370]:
set1 = {1, 2, 3, 4, 5}
set1.clear() 
set1

set()

**e) Intersection**

In [371]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8} 
set3 = set1.intersection(set2)
set3

{4, 5}

**Ans (4)**

**TUPLE- Tuples are ordered immutable collection of objects. Once the data is written, it stays the same forever. It cannot be changed.**

**a) Accessing values**

In [280]:
tup = ("joyeeta", "&", "letsupgrade.in")
tup.count("&")

1

**b) Indexing**

In [282]:
tup.index("letsupgrade.in")

2

**c) Updating tuples**

In [376]:
tup1 = ("joyeeta", "&", "letsupgrade.in")
tup2 = ("abc", "xyz")
tup3 = tup1 + tup2
tup3

('joyeeta', '&', 'letsupgrade.in', 'abc', 'xyz')

**d) Delete tuple elements**

In [375]:
tup = ("joyeeta", "&", "letsupgrade.in")
del tup

**e) Slicing**

In [380]:
tup1 = ("joyeeta", "&", "letsupgrade.in")
tup2 = tup1[1:]
tup2

('&', 'letsupgrade.in')

**Ans (5)**

**STRINGS- strings are arrays of bytes representing unicode characters.**

In [289]:
country = "INDIA"
name = "Jeff Besos"
company = "Amazon"
des = "CEO"
assets = "$200 Billion"

**a) Accessing**

In [284]:
country

'INDIA'

**b) Concatinating strings**

In [299]:
name + " space " + country        This syntax will concatenate strings

'Jeff Besos space INDIA'

In [290]:
assets

'$200 Billion'

In [288]:
des

'CEO'

In [291]:
name

'Jeff Besos'

**c) Getting Type - Any piece of information given in double qoutes("")is always a string. Example Below.**

In [298]:
type(assets)

str

**d) Updating strings**

In [383]:
des = "Director"
des

Director

'Director'

**e) String formatting**

In [386]:
"My name is %s and weight is %d kg!" % ('Joyeeta', 21)

'My name is Joyeeta and weight is 21 kg!'